<%- include('../layoutsAdmin/adminheader') %>
<%- include('../layoutsAdmin/header') %>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Customers List</h2>
    </div>
    <div class="card-body">
        <div class="row gx-3 mb-3">
            <div class="col-lg-4 col-md-6 me-auto">
                <form action="/admin/users" method="get" class="d-flex">
                    <input type="text" name="search" placeholder="Search by name or email..." class="form-control search-input" style="border: 1px solid #ced4da;" />
                    <button type="submit" class="btn btn-outline-secondary ms-2">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data.length > 0) { %>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].email %></td>
                                <td><%= data[i].mobile %></td>

                                <td class="text-start ">
                                    <% if (data[i].is_blocked) { %>
                                      <span class="badge rounded-pill alert-danger" style="width: 60px">Inactive</span>
                                    <% } else { %>
                                      <span class="badge rounded-pill alert-success" style="width: 60px">Active</span>
                                    <% } %>
                                  </td>

                                <td class="text-end">
                                    <% if (data[i].is_blocked === false) { %>
                                        <button class="btn btn-danger btn-sm" onclick="blockCustomer('<%= data[i]._id %>')">
                                            Block
                                        </button>
                                    <% } else { %>
                                        <button class="btn btn-success btn-sm" onclick="unblockCustomer('<%= data[i]._id %>')">
                                            Unblock
                                        </button>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="4" class="text-center">No customers found</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="container mt-3">
            <% if (!search && totalPages > 1) { %> 
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-4">
                    <!-- Previous Button -->
                    <li class="page-item <%= (parseInt(currentPage) === 1) ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= parseInt(currentPage) - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Previous</span>
                        </a>
                    </li>
                    
                    <!-- Current Page Indicator -->
                    <li class="page-item active">
                        <span class="page-link">
                            Page <%= currentPage %> of <%= totalPages %>
                        </span>
                    </li>
                    
                    <!-- Next Button -->
                    <li class="page-item <%= (parseInt(currentPage) === totalPages) ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>" aria-label="Next">
                            <span aria-hidden="true">Next &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <% } %>
        </div>
    </div>
   
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function blockCustomer(userId) {
        swal({
            title: "Are you sure?",
            text: "You want to block this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willBlock) => {
            if (willBlock) {
                fetch(`/admin/blockCustomer?id=${userId}`, {
                    method: 'PATCH',
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    swal("Success", data.message, "success").then(() => {
                        location.reload(); 
                    });
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    swal("Error", "An error occurred while blocking the user.", "error");
                });
            }
        });
    }

    function unblockCustomer(userId) {
        swal({
            title: "Are you sure?",
            text: "You want to unblock this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willUnblock) => {
            if (willUnblock) {
                fetch(`/admin/unblockCustomer?id=${userId}`, {
                    method: 'PATCH',
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    swal("Success", data.message, "success").then(() => {
                        location.reload(); 
                    });
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    swal("Error", "An error occurred while unblocking the user.", "error");
                });
            }
        });
    }
</script>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/select2.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script>
<script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
<script src="/assets/js/custom-chart.js" type="text/javascript"></script>
