<%- include('../layoutsUser/userheader') %>
<style>
    .small-title {
    font-size: 3rem;
    color: black;
}
.welcome{
   padding-left: 420px;
   margin-bottom: 40px;
   font-size: 50px;
   font-family:'Times New Roman', Times, serif;
}
</style>
        <main class="main">
            <div class="intro-section bg-lighter pt-5 pb-6">
                <h4 class="welcome">Welcome to Nestoria</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                                <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "responsive": {
                                            "768": {
                                                "nav": true
                                            }
                                        }
                                    }'>
                                    <% products.slice(0, 3).forEach(product => { %>
                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)" srcset="/uploads/cropped/<%= product.productImage[0] %>">
                                                <img src="/uploads/cropped/<%= product.productImage[0] %>" alt="<%= product.productName %>">
                                            </picture>
                                        </figure>

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle"><%= product.category ? product.category.name : 'Featured Collection' %></h3>
                                            <h1 class="intro-title small-title"><%= product.productName %></h1>

                                            <a href="/product/<%= product._id %>" class="btn btn-outline-white" style="color: black;">
                                               <span>SHOP NOW</span>
                                               <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->
                                    <% }); %>
                                </div><!-- End .intro-slider owl-carousel owl-simple --> 
                                <span class="slider-loader"></span><!-- End .slider-loader -->
                            </div><!-- End .intro-slider-container -->
                        </div><!-- End .col-lg-8 -->
                        <div class="col-lg-4">
                                <div class="row row-sm">
                                    <% products.slice(3, 4).forEach(product => { %>
                                    <div class="col-md-6 col-lg-12">
                                        <div class="banner banner-display">
                                            <a href="#">
                                                <img src="/uploads/cropped/<%= product.productImage[0] %>" alt="<%= product.productName %>">
                                            </a>

                                            <div class="banner-content">
                                                <h4 class="banner-subtitle text-darkwhite">
                                                    <a href="/product/<%= product._id %>">
                                                        <%= product.category ? product.category.name : 'Special Offer' %>
                                                    </a>
                                                </h4>
                                                <h3 class="banner-title text-white">
                                                    <a href="/product/<%= product._id %>" style="color: black;">
                                                        <%= product.productName %><br>
                                                    </a>
                                                </h3>
                                                <a href="/product/<%= product._id %>" class="btn btn-outline-white banner-link" style="color: black;">
                                                    Shop Now<i class="icon-long-arrow-right"></i>
                                                </a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-6 col-lg-12 -->
                                    <% }); %>
                                </div><!-- End .row row-sm -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter -->
            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg">Trendy Products</h2>
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="#trendy-all-tab" role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                        </li>
                        <% categories.forEach((category, index) => { %>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-<%= category.name.toLowerCase() %>-link" data-toggle="tab" href="#trendy-<%= category.name.toLowerCase() %>-tab" role="tab" aria-controls="trendy-<%= category.name.toLowerCase() %>-tab" aria-selected="false">
                                <%= category.name %>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <!-- 'All' Products Tab -->
                    <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": { "items":2 },
                                    "480": { "items":2 },
                                    "768": { "items":3 },
                                    "992": { "items":4 },
                                    "1200": { "items":4, "nav": true, "dots": false }
                                }
                            }'>
                            
                            <% products.forEach(product => { %>
                            <div class="product product-11 text-center">
                                <figure class="product-media">
                                    <a href="/product/<%= product._id %>">
                                        <img src="/uploads/cropped/<%= product.productImage[0] %>" alt="<%= product.productName %>" class="product-image">
                                        <% if (product.productImage[1]) { %>
                                            <img src="/uploads/cropped/<%= product.productImage[1] %>" alt="<%= product.productName %>" class="product-image-hover">
                                        <% } %>
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                    </div>
                                </figure>
                                <div class="product-body">
                                    <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.productName %></a></h3>
                                    <div class="product-price">
                                        $<%= product.regularPrice %>
                                    </div>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                
                  
                    <% categories.forEach(category => { %>
                    <div class="tab-pane p-0 fade" id="trendy-<%= category.name.toLowerCase() %>-tab" role="tabpanel" aria-labelledby="trendy-<%= category.name.toLowerCase() %>-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": { "items":2 },
                                    "480": { "items":2 },
                                    "768": { "items":3 },
                                    "992": { "items":4 },
                                    "1200": { "items":4, "nav": true, "dots": false }
                                }
                            }'>
                            <!-- Filter products by category -->
                            <% products.filter(product => product.category && product.category.name === category.name).forEach(product => { %>
                            <div class="product product-11 text-center">
                                <figure class="product-media">
                                    <a href="/product/<%= product._id %>">
                                        <img src="/uploads/cropped/<%= product.productImage[0] %>" alt="<%= product.productName %>" class="product-image">
                                        <% if (product.productImage[1]) { %>
                                            <img src="/uploads/cropped/<%= product.productImage[1] %>" alt="<%= product.productName %>" class="product-image-hover">
                                        <% } %>
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                    </div>
                                </figure>
                                <div class="product-body">
                                    <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.productName %></a></h3>
                                    <div class="product-price">
                                        $<%= product.regularPrice %>
                                    </div>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <!-- End .tab-content -->
            </div><!-- End .container -->

    		<div class="container categories pt-6">
        		<h2 class="title-lg text-center mb-4">Shop by Categories</h2><!-- End .title-lg text-center -->

        		<div class="row">
        			<div class="col-6 col-lg-4">
        				<div class="banner banner-display banner-link-anim">
                			<a href="#">
                				<img src="/productAssets/assets/images/banners/home/banner-1.jpg" alt="Banner">
                			</a>

                			<div class="banner-content banner-content-center">
                				<h3 class="banner-title text-white"><a href="#">Outdoor</a></h3><!-- End .banner-title -->
                				<a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                			</div><!-- End .banner-content -->
            			</div><!-- End .banner -->
        			</div><!-- End .col-sm-6 col-lg-3 -->
        			<div class="col-6 col-lg-4 order-lg-last">
        				<div class="banner banner-display banner-link-anim">
                			<a href="#">
                				<img src="/productAssets/assets/images/banners/home/banner-4.jpg" alt="Banner">
                			</a>

                			<div class="banner-content banner-content-center">
                				<h3 class="banner-title text-white"><a href="#">Lighting</a></h3><!-- End .banner-title -->
                				<a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                			</div><!-- End .banner-content -->
            			</div><!-- End .banner -->
        			</div><!-- End .col-sm-6 col-lg-3 -->
        			<div class="col-sm-12 col-lg-4 banners-sm">
                        <div class="row">
            				<div class="banner banner-display banner-link-anim col-lg-12 col-6">
                    			<a href="#">
                    				<img src="/productAssets/assets/images/banners/home/banner-2.jpg" alt="Banner">
                    			</a>

                    			<div class="banner-content banner-content-center">
                    				<h3 class="banner-title text-white"><a href="#">Furniture and Design</a></h3><!-- End .banner-title -->
                    				<a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                    			</div><!-- End .banner-content -->
                			</div><!-- End .banner -->

                			<div class="banner banner-display banner-link-anim col-lg-12 col-6">
                    			<a href="#">
                    				<img src="/productAssets/assets/images/banners/home/banner-3.jpg" alt="Banner">
                    			</a>

                    			<div class="banner-content banner-content-center">
                    				<h3 class="banner-title text-white"><a href="#">Kitchen & Utensil</a></h3><!-- End .banner-title -->
                    				<a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                    			</div><!-- End .banner-content -->
                			</div><!-- End .banner -->
                        </div>
        			</div><!-- End .col-sm-6 col-lg-3 -->
        		</div><!-- End .row -->
    		</div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-6 -->

            
            <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(/productAssets/assets/images/backgrounds/cta/bg-6.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9 col-xl-8">
                            <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                                <div class="col">
                                    <h3 class="cta-title text-white">Sign Up & Get 10% Off</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-white">Molla presents the best in interior design</p><!-- End .cta-desc -->
                                </div><!-- End .col -->

                                <div class="col-auto">
                                    <a href="login.html" class="btn btn-outline-white"><span>SIGN UP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .col-auto -->
                            </div><!-- End .row no-gutters -->
                        </div><!-- End .col-md-10 col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
        </main><!-- End .main -->

 <%- include('../layoutsUser/userfooter') %>
